<!DOCTYPE html>
<html lang="zxx">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NT2SW8WBHT');
    </script>
    <!-- End Google tag (gtag.js) -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Management Admin</title>

    <%- include('partial/head.ejs') %>
  </head>
  <body class="crm_body_bg">
    <%- include('partial/sidebar.ejs') %>
    <!--/ sidebar  -->

    <section class="main_content dashboard_part large_header_bg">
      <!-- menu  -->
      <%- include('partial/notif.ejs') %>
      <!--/ menu  -->
      <div class="main_content_iner overly_inner">
        <div class="container-fluid p-0">
          <!-- page title  -->
          <!-- page title  -->
          <div class="row">
            <div class="col-12">
              <div
                class="page_title_box d-flex flex-wrap align-items-center justify-content-between"
              >
                <div class="page_title_left d-flex align-items-center">
                  <h3 class="f_s_25 f_w_700 dark_text mr_30">
                    Tableau de bord
                  </h3>
                <!--  <ol class="breadcrumb page_bradcam mb-0">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Acceuil</a>
                    </li>
                    <li class="breadcrumb-item active">Analyse</li>
                  </ol> -->
                </div>
                <div class="page_title_right">
                  <div class="page_title_right d-flex">
                    <div class="page_date d-flex align-items-center">

                      <div class="date_content ml-2">
                        <span id="heure"></span>
                        <script>
                          setInterval("heure()", 1000);
                        </script>

                      </div>

                    </div>
                    <div class="page_date d-flex align-items-center">

                      <div class="date_content ml-2">
                        <span id="date"></span>

                      </div>
                    </div>
                    <div class="page_date_button d-flex  align-items-center">

                      <script>
                        var d = new Date();
                        //affichage de la date du jour
                        var jour = d.getDate();
                        var mois = d.getMonth();
                        var annee = d.getFullYear();
                        var date = jour + "/" + (mois + 1) + "/" + annee;
                        document.getElementById("date").innerHTML = date;
                        //affichage de l'heure dynamique
                        function heure(){
                          var d = new Date();
                          var h = d.getHours();
                          var m = d.getMinutes();
                          var s = d.getSeconds();
                          if(h<10){
                            h = "0"+h;
                          }
                          if(m<10){
                            m = "0"+m;
                          }
                          if(s<10){
                            s = "0"+s;
                          }
                          document.getElementById("heure").innerHTML = h+":"+m+":"+s;
                        }
                      </script>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p id="sess" hidden><%= user?.id %></p>
              <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                  <div class="box_header m-0">
                    <div class="main-title">
                      <h3 class="m-0">Ajouter un nouvel employé</h3>
                    </div>
                  </div>
                </div>
                <form action="" method="">
                  <% if(locals.update) { %>
                  <div
                    class="alert alert-success"
                    role="alert"
                    style="text-align: center; display: none"
                    id="alert-success"
                  >
                    Employé modifier avec succès !
                  </div>

                  <% } else { %>
                  <div
                    class="alert alert-success"
                    role="alert"
                    style="text-align: center; display: none"
                    id="alert-success"
                  >
                    Nouvel employé enregistrer avec succès !
                  </div>
                  <% } %>
                  <div
                    class="alert alert-danger"
                    role="alert"
                    style="text-align: center; display: none"
                    id="alert-danger"
                  >
                    Echec de l'opération, veuillez recommencer!
                  </div>
                  <div class="white_card_body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="text"
                            placeholder="prenom"
                            name="prenom"
                            value="<%= locals.employe?.prenom %>"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="text"
                            placeholder="nom"
                            name="nom"
                            value="<%=locals.employe?.nom%>"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="text"
                            placeholder="speudo"
                            name="speudo"
                            value="<%=locals.employe?.pseudo%>"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="text"
                            placeholder="adresse"
                            name="adresse"
                            value="<%=locals.employe?.adresse%>"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="text"
                            placeholder="numero"
                            name="numero"
                            value="<%=locals.employe?.numero%>"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <input
                            type="password"
                            placeholder="mot de passe"
                            name="password"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="common_input mb_15">
                          <!-- <input
                            type="email"
                            placeholder="Email"
                            name="email"
                            value="<%=locals.employe?.email%>"
                          /> -->
                          <input
                            type="text"
                            name="session"
                            value="<%= user?.id %>"
                            hidden
                          />
                          <input
                            type="checkbox"
                            name="update"
                            value="<%= locals.update %>"
                            hidden
                          />
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <select
                          class="nice_Select2 nice_Select_line wide"
                          style="display: none"
                          name="role"
                          value="<%=locals.employe?.role%>"
                        >
                          <option value="1">Selectionner le rôle</option>
                          <option value="Barman">Barman</option>
                          <option value="serveur(euse)">serveur(euse)</option>
                          <option value="Manager">Manager</option>
                          <option value="gestionnaire">Gestionnaire</option>
                        </select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="create_report_btn mt_30">
                          <button
                            type="submit"
                            class="btn_1 radius_btn d-block text-center"
                          >
                            <%= locals.update?"Modifier": "Ajouter"%> employé
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer part -->
      <div class="footer_part">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="footer_iner text-center">
                <p>
                  2023 © E-Maquis - Designed by
                  <a href="#"> <i class="ti-gun"></i> </a
                  ><a href="#"> HNM</a> - <a href="/faq">FAQ</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- main content part end -->

    <!-- ### CHAT_MESSAGE_BOX   ### -->



    <!--/### CHAT_MESSAGE_BOX  ### -->

    <div id="back-top" style="display: none">
      <a title="Go to Top" href="#">
        <i class="ti-angle-up"></i>
      </a>
    </div>

    <!-- footer  -->
    <%- include('partial/script.ejs') %>
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js "></script>
    <script>
      const socket = io(window.location.origin + window.location.pathname);
      console.log(window.location.origin + window.location.pathname);

      $('form').on('submit', (e) => {
        e.preventDefault();
        isSucces = true;
        const updated = $('input[name="update"]').val() == 'true';
        const data = {
          nom: $('input[name="nom"]').val(),
          prenom: $('input[name="prenom"]').val(),
          chef_etablissement: $('input[name="session"]').val(),
          role: $('select[name="role"]').val(),
          email: $('input[name="email"]').val(),
          adresse: $('input[name="adresse"]').val(),
          password: $('input[name="password"]').val(),
          numero: $('input[name="numero"]').val(),
        };

        //console.log(data.chef_etablissement);
        if (
          !updated &&
          (data.nom == '' ||
            data.prenom == '' ||
            data.email == '' ||
            data.adresse == '' ||
            data.password == '' ||
            data.numero == '')
        ) {
          isSucces = false;
          alert('Veuillez remplir tous les champs');
          return;
        }

        if (updated) {
          if (data.role === '1') {
            data.role = '<%= locals.employe?.role %>';
          }
          socket.emit('updateEmploye', {
            userId: '<%= locals.employe?._id%>',
            data,
          });
          console.log('update', {
            userId: '<%= locals.employe?._id%>',
            data,
          });
        } else {
          socket.emit('setemploye', data);
        }

        socket.on('saved', (data) => {
          document.getElementById('alert-success').style.display = 'block';
          $('input').val('');
          setTimeout(() => {
            document.getElementById('alert-success').style.display = 'none';
            if (data.update) {
              window.location.href = '/utilisateur';
            }
          }, 1000);
        });
        socket.on('bad', () => {
          setTimeout(
            () =>
              (document.getElementById('alert-danger').style.display = 'block'),
            1000
          );
        });
      });
    </script>
  </body>

  <!-- Mirrored from demo.dashboardpack.com/user-management-html/add_new_user.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Jul 2021 17:20:09 GMT -->
</html>
