<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>E-maquis Gestionnaire</title>
    <meta name="description" content="E-maquis Gestionnaire" />
  <%- include('partial/head.ejs') %>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/paresseux_sous_officiel.png" />
</head>

<body class="crm_body_bg">
  <style>
    .sidebar .logo .large_logo img {
      width: 70%;
      margin-left: 15%;
    }
  </style>
  <!-- React -->

  <%- include('partial/reactScript.ejs') %>

  <%- include('partial/sidebar.ejs') %>

  <!--/ sidebar  -->


  <section class="main_content dashboard_part large_header_bg">
    <%- include('partial/notif.ejs') %>
    <div class="main_content_iner overly_inner">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
              <div class="page_title_left d-flex align-items-center">
                <h3 class="f_s_25 f_w_700 dark_text mr_30">

                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p id="sess" hidden></p>
            <div id="add_bilan"></div>
          </div>
        </div>
      </div>
    </div>
  </section>





  <%- include('partial/script.ejs') %>
  <script src="../jquery-3.4.1.min.js"></script>
  <!-- JAVASCRIPTS -->
  <script type="text/babel">


    const Bilan = () =>{

      return(
              <div className="justify-content-between row">
                <h3 className="">Bonjour <b><%= locals.user?.nom %> <%= locals.user?.prenom ||
                locals.user?.prenoms %></b></h3>
                <div >
                  <label>
                    <select className="form-control mr-5" aria-label="Default select example">
                      <option selected>Catégories</option>
                      <option value="1">Employés</option>
                      <option value="2">Ventes</option>
                      <option value="3">Produits</option>
                    </select>
                  </label>
                  <label>
                    <input type="date" className="form-control" name="date"/>
                  </label>
                </div>

              </div>
      );

    };

    ReactDOM.render(<Bilan />, document.getElementById('add_bilan'));
  </script>
</body>

</html>