<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>E-maquis Barman(aid)</title>
  <script src="../js/bootstrap.js"></script>

  <link rel="stylesheet" href="../css/bootstrap.css" />
  <link rel="stylesheet" href="../plugins/aos/aos.css" />
  <link rel="stylesheet" href="/css/vente.css" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/paresseux_sous_officiel.png" />
</head>

<body class="crm_body_bg">
  <style>
    .sidebar .logo .large_logo img {
      width: 70%;
      margin-left: 15%;
    }

    .my-custom-scrollbar {
      position: relative;
      height: 330px;
      overflow: auto;
    }

    .table-wrapper-scroll-y {
      display: block;
    }
  </style>
    <!-- main content part here -->
    <!-- sidebar  -->
  <%- include('partial/emside_global.ejs') %>
  <%-include('partial/reactScript.ejs') %>
    <!--/ sidebar  -->

  <section class="main_content dashboard_part large_header_bg">
    <!-- menu  -->

    <!--/ menu  -->
    <div class="main_content_iner overly_inner">
      <div class="container-fluid p-0">
        <!-- page title  -->
        <div class="row">
          <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
              <div class="page_title_left d-flex align-items-center">
                <h3 class="f_s_25 f_w_700 dark_text mr_30">Barman(aid)</h3>
                <ol class="breadcrumb page_bradcam mb-0">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0);">Acceuil</a>
                  </li>
                </ol>
              </div>

                <div class="page_title_right">
                <div class="page_date_button d-flex align-items-center">
                  <div class="profile_author_name">
                    <p class="text-center">
                      <%= locals.user?.nom %> <%= locals.user?.prenom %>
                    </p>
                    <h5 class="emRole badge"><%= locals.user?.role %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="root"></div>
      </div>
    </div>
  </section>

  <div id="back-top" style="display: none">
    <a title="Go to Top" href="#">
      <i class="ti-angle-up"></i>
    </a>
  </div>

  <%- include('partial/script.ejs') %>
  <script src="/socket.io/socket.io.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.4.2/countUp.min.js" type="module"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
  <script src="../jquery-3.4.1.min.js">
    let options = {
      weekday: 'long',
      year: 'numeric',
      month: 'long',
      day: 'numeric'
    };
    let today = new Date();
    let date = today.toLocaleDateString("fr-FR", options);

    document.getElementById("dates").innerHTML = "date";
  </script>


  <script>
    const user_travail_pour = <%- JSON.stringify(user.travail_pour) %>;
    const globalUser = <%- JSON.stringify(user) %>;
    const globalCategories = <%- JSON.stringify(categories) %>;
    const globalProducts = <%- JSON.stringify(produits) %>;
    const globalVentes = <%- JSON.stringify(ventes) %>;
    const sumEmployes = <%- JSON.stringify(emplnum) %>;
    const sumVentes = <%- JSON.stringify(sum) %>;
    const globalBillet = <%- JSON.stringify(billet) %>;
  </script>

  <script src="../utils/formatAmount.js" type="module"></script>
  <script src="/js/products.context.js" type="text/babel"></script>
  <script src="/js/products.js" type="text/babel"></script>
  <script src="/js/carts.js" type="text/babel"></script>
  <script src="/js/categories.js" type="text/babel"></script>
  <script src="/js/vente.js" type="text/babel"></script>
  <script src="/js/em_dashboard_employes.js" type="text/babel"></script>
  <script src="/js/em_dashboard_stocks.js" type="text/babel"></script>
  <script src="/js/em_dashboard_vente_tables.js" type="text/babel"></script>
  <script src="/js/em_dashboard_body.js" type="text/babel"></script>
  <script src="/js/em_dashboard.js" type="text/babel"></script>
</body>

</html>
