<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
  <!-- End Google tag (gtag.js) -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>E-maquis Admin</title>

  <!-- App css -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/metisMenu.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>

  


  <%- include('partial/newHead.ejs') %>


</head>

<body class="crm_body_bg">
  <style>
    .form-control:focus {
      box-shadow: none;
      border-color: #98ED58
    }

    .profile-button {
      background: #98ED58;
      box-shadow: none;
      border: none
    }

    .profile-button:hover {
      background-color: #FFFFFF;
      border: 1px solid #98ED58;
      color: #98ED58;
      letter-spacing: .25em;
    }

    .profile-button:focus {
      background: #98ED58;
      box-shadow: none
    }

    .profile-button:active {
      background: #98ED58;
      box-shadow: none
    }

    .back:hover {
      color: #98ED58;
      cursor: pointer
    }

    .labels {
      font-size: 11px
    }

    .add-experience:hover {
      background: #98ED58;
      color: #fff;
      cursor: pointer;
      border: solid 1px #98ED58
    }
  </style>

  <%- include('partial/newSideBar.ejs') %>
  <%- include('partial/scriptNewTemp.ejs') %>
  <!--/ sidebar  -->

  <section class="main_content dashboard_part large_header_bg">
    <!-- menu  -->


    <div class="main_content_iner">
      <div class="container-fluid p-0">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="white_card card_height_100 mb_30">
              <div class="white_card_header">
                <div class="box_header m-0">
                  <div class="main-title">
                    <h3 class="m-0">Modifier le profil</h3>
                  </div>
                </div>
              </div>
              <div class="white_card_body">
                <div class="QA_section">
                  <div class="white_box_tittle list_header">

                  </div>
                  <div class="col-xl-12">
                    <form action='/profile' method='post'>
                      <div class="container rounded bg-white mt-5 mb-5">
                        <div class="row">
                          <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%= user?.nom %> <%= user?.prenom %></span><span class="text-black-50"><%= user.email %></span><span> </span></div>
                          </div>
                          <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Paramètre </h4>
                              </div>
                              <div class="row mt-2">
                                <div class="col-md-6" id="element-nom"><label class="labels">Nom</label><input  type="text" class="form-control" placeholder="Nom" name='nom' value="<%= user.nom %>" required></div>
                                <div class="col-md-6" id="element-prenom"><label class="labels">Prenom</label><input type="text" class="form-control" name='prenoms' value="<%= user.prenoms %>" placeholder="Prenom" required></div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Nom de l'établissement</label><input type="text" class="form-control" name='nom_etablissement' placeholder="Entrer le nom de l'établissement" value="<%= user.nom_etablissement %>"></div>

                                <div class="col-md-12"><label class="labels">Telephone</label><input type="text" class="form-control" name='numero' placeholder="Entrer le numero" value="<%= user.numero %>"></div>
                                <div class="col-md-12"><label class="labels">Adresse</label><input type="text" class="form-control" name="adresse" placeholder="Entrer l'adresse" value="<%= user.adresse %>"></div>
                                <div class="col-md-12"><label class="labels">Choisir le mode retour produit</label>
                                  <select class="form-control" name='product_return_type' value="<%user.product_return_type%>">
                                    <% retour_produits_types.forEach((p)=> { %>
                                    <% if(p.type == user.product_return_type) { %>
                                    <option value="<%= p.type %>" selected><%= p.nom %></option>
                                    <% } else { %>
                                    <option value="<%= p.type %>"><%= p.nom %></option>
                                    <% } %>
                                    <% }) %>

                                  </select>
                                </div>

                                <div class="col-md-12"><label class="labels">Email </label><input type="text" class="form-control" name="email" placeholder="Entrer l'email" value="<%= user.email %>"></div>
                                <div class="col-md-12"><label class="labels">Objectif à atteindre par jour</label><input type="number" class="form-control" name="objective" placeholder="Objectif" value="<%= user.objective %>"></div>
                                <div class="col-md-12"><label class="labels">Nombre de table</label><input type="number" class="form-control" name="numberOfTables" placeholder="Nombre de table" value="<%= user.numberOfTables %>"></div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Pays</label>
                                  <select class='form-control' id="pays" name="country">
                                    <% pays.forEach((p)=> { %>
                                    <% if(p.code == user.country) { %>
                                    <option value="<%= p.code %>" selected><%= p.nom %></option>
                                    <% } else { %>
                                    <option value="<%= p.code %>"><%= p.nom %></option>
                                    <% } %>
                                    <% }); %>
                                  </select>
                                </div>
                                <div class="col-md-6">

                                  <label class="labels">ville</label>
                                  <select class='form-control' id="city" name="city">
                                    <% pays.forEach((p)=> { %>
                                    <% if(p.code == user.country) { %>
                                    <% for(ville of p.cities) {%>
                                    <% if(ville == user.city) { %>
                                    <option value="<%=ville%>" selected><%= ville %></option>
                                    <% } else { %>
                                    <option value="<%=ville%>"><%= ville %></option>
                                    <% } %>
                                    <% } %>
                                    <% } %>
                                    <% }); %>
                                  </select>
                                </div>
                              </div>


                              


                              <div class="mt-5 text-center" id="element-save"><button class="btn btn-primary profile-button" type="submit">Enregistrer Profil</button></div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class='alert alert-danger' style='display: none;'>

                            </div>
                            <div class="p-3 py-5">
                              <div class="d-flex justify-content-between align-items-center experience"><span>Changer votre mot de pass?</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;sinon laissez vide les champs</span></div><br>
                              <div class="col-md-12"><label class="labels">Nouveau mot de pass</label><input type="password" class="form-control" name='newPassword' placeholder="" value=""></div> <br>
                              <div class="col-md-12"><label class="labels">Confirmer</label><input type="password" class="form-control" name='confirmPassword' placeholder="" value=""></div>
                              <hr>
                              <!--
                              <div class="row mt-3" style="align-items: center;">
                                <% if (user?.hasStock) {%>
                                <input type='checkbox' id='stock' checked name="hasStock" />
                                <% } else { %>
                                <input type='checkbox' id='stock' name="hasStock" />
                                <% } %>
                                <label class="labels" for="stock" style='margin: 0;margin-left: 0.5rem;'>Gestion du stock</label>
                              </div>
                              <hr>
                              -->

                              <div class="checkbox-wrapper-12">
                                <div class="cbx" style="display: flex;">
                                  <% if (user?.hasStock) {%>
                                  <input id="cbx-12 stock" type="checkbox" checked name="hasStock">
                                  <% } else { %>
                                    <input type='checkbox' id='cbx-12 stock' name="hasStock" />
                                <% } %>
                               
                                  <label for="cbx-12 stock" class="labels" >
                                    <span style="position:relative; left:1.8rem; width:30px;">Réserve de stock</span>
                                </label>
                                  <svg width="15" height="14" viewBox="0 0 15 14" fill="none">
                                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                                  </svg>
                                </div>
                                
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                  <defs>
                                    <filter id="goo-12">
                                      <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur"></feGaussianBlur>
                                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo-12"></feColorMatrix>
                                      <feBlend in="SourceGraphic" in2="goo-12"></feBlend>
                                    </filter>
                                  </defs>
                                </svg>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer_iner text-center">
              <p>
                2024 © E-MAQUIS - Designed by
                <a href="#"> <i class="ti-gun"></i> </a><a href="#"> HNM</a> - <a href="/faq">FAQ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="menu-overlay"></div>


  <div id="back-top" style="display: none">
    <a title="Go to Top" href="#">
      <i class="ti-angle-up"></i>
    </a>
  </div>
  <!-- footer  -->
  <!-- footer  -->
  <!-- jquery slim -->

  <script src="/socket.io/socket.io.js "></script>
  <script>
    const socket = io(window.location.origin + window.location.pathname);

    const currentRouteProfil = window.location.pathname;
    

    const driver = window.driver.js.driver;

const driverObj = driver({
  showProgress: true,
  showAnimation: true,
  animationDuration: 2000,
  showButtons: true,
  showBackButton: true,
  showResetButton: true,
  showCloseButton: true,
  showNextButton: true,
  showSkipButton: true,
  showPrevButton: true,
  showPauseButton: true,
  showPlayButton: true,
  showFullscreenButton: true,
  popoverClass: 'driverjs-theme',
  steps: [
    {
      element: "#element-nom",
      popover: {
        title: "Important",
        description: "Le champ Nom ne peut pas être vide. Veuillez le remplir."
      }
    },
    {
      element: "#element-prenom",
      popover: {
        title: "Attention",
        description: "Le champ Prénom ne peut pas être vide. Veuillez le remplir."
      }
    },
    {
      element: "#element-save",
      popover: {
        title: "Important",
        description: "Cliquez sur le bouton pour enregistrer les modifications afin de pouvoir charger les produits liés à votre pays"
      }
    }
  ]
});

const nom = '<%= user.nom %>'


if(nom.trim() === ''){
  driverObj.drive();
}

  



    $(document).ready(function() {

      //console.log(window.location.origin + window.location.pathname, "dfsfsd");

      //  chat box
      const inputPassword = $('input[name="newPassword"]');
      const inputConfirmPassword = $('input[name="confirmPassword"]');

      const onChangePassword = function(e) {

        const confirmValue = inputConfirmPassword.val();
        const passwordValue = inputPassword.val();

        if (confirmValue && confirmValue !== passwordValue) {
          inputConfirmPassword.removeClass('is-valid');
          inputConfirmPassword.addClass('is-invalid');
        } else if (confirmValue && confirmValue === passwordValue) {
          inputConfirmPassword.removeClass('is-invalid');
          inputConfirmPassword.addClass('is-valid');
        }

      }

      inputPassword.on('input', onChangePassword)

      inputConfirmPassword.on('input', onChangePassword)



    });

    const countries = <%- JSON.stringify(pays) %>
    const user_connected = <%- JSON.stringify(user) %>

    $('#pays').change(() => {
      const countryValue = $('#pays').val();
      const country = countries.find((c) => c.code === countryValue);
      
      if (country) {
        $('#city').html('<option value="" selected>Selection ta ville</option>');
        country.cities.forEach((ville) => {

          if (ville === user_connected.city) {
            $('#city').append(`<option value="${ville}" selected>${ville}</option>`)

          } else {
            $('#city').append(`<option value="${ville}">${ville}</option>`)
          }

        })
      }

    })
  </script>

  <!-- jQuery  -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/metismenu.min.js"></script>
  <script src="assets/js/waves.js"></script>
  <script src="assets/js/simplebar.min.js"></script>



  <!-- Morris Js-->
  <script src="../plugins/morris-js/morris.min.js"></script>
  <!-- Raphael Js-->
  <script src="../plugins/raphael/raphael.min.js"></script>

  <!-- Morris Custom Js-->
  <script src="assets/pages/dashboard-demo.js"></script>

  <!-- App js -->
  <script src="assets/js/theme.js"></script>
</body>

</html>