<!DOCTYPE html>
<html lang="zxx">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
  <!-- End Google tag (gtag.js) -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>E-maquis Admin</title>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>E-maquis Admin</title>
    <!-- App css -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

    <%- include('partial/NewHead.ejs') %>
    <%- include('partial/head.ejs') %>
    <%- include('partial/scriptNewTemp.ejs') %>
    
    
    
  </head>


<body class="crm_body_bg">
  <style>
    .sidebar .logo .large_logo img {
      width: 70%;
      margin-left: 15%;
    }
  </style>


  <%- include('partial/newSideBar.ejs') %>
  <!--/ sidebar  -->
  
  <section class="main_content dashboard_part large_header_bg">
    <!-- menu  -->
    

    <!--/ menu  -->
    <div class="main_content_iner overly_inner">
      <div class="container-fluid p-0">
        <!-- page title  -->
        <!-- page title  -->
        <div class="row">
          <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
              <div class="page_title_left d-flex align-items-center">
                <h3 class="f_s_25 f_w_700 dark_text mr_30">
                  Tableau de bord
                </h3>
                <ol class="breadcrumb page_bradcam mb-0">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0);">Acceuil</a>
                  </li>
                  <li class="breadcrumb-item active">Analyse</li>
                </ol>
              </div>
              <div class="page_title_right">
                <div class="page_title_right d-flex">
                  <div class="page_date d-flex align-items-center">

                    <div class="date_content ml-2">
                      <span id="heure"></span>
                      <script>
                        setInterval("heure()", 1000);
                      </script>

                    </div>

                  </div>
                  <div class="page_date d-flex align-items-center">

                    <div class="date_content ml-2">
                      <span id="date"></span>

                    </div>
                  </div>
                  <div class="page_date_button d-flex  align-items-center">

                    <script>
                      var d = new Date();
                      //affichage de la date du jour
                      var jour = d.getDate();
                      var mois = d.getMonth();
                      var annee = d.getFullYear();
                      var date = jour + "/" + (mois + 1) + "/" + annee;
                      document.getElementById("date").innerHTML = date;
                      //affichage de l'heure dynamique
                      function heure() {
                        var d = new Date();
                        var h = d.getHours();
                        var m = d.getMinutes();
                        var s = d.getSeconds();
                        if (h < 10) {
                          h = "0" + h;
                        }
                        if (m < 10) {
                          m = "0" + m;
                        }
                        if (s < 10) {
                          s = "0" + s;
                        }
                        document.getElementById("heure").innerHTML = h + ":" + m + ":" + s;
                      }
                    </script>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="white_card card_height_100 mb_30 pt-4">
              <div class="white_card_body">
                <div class="QA_section">
                  <div class="white_box_tittle list_header">
                    <h4>Liste des employés</h4>
                    <%- include('partial/inputSearch.ejs') %>
                  </div>

                  <div class="QA_table mb_30">
                    <!-- table-responsive -->
                    <table id="users__table" class="table lms_table_active">
                      <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">Nom</th>
                          <th scope="col">prénoms</th>
                          <th scope="col">Numero</th>
                          <th scope="col">Email Address</th>
                          <th scope="col">Role</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% Result.forEach((el,id) =>{%>
                        <tr>
                          <th scope="row">
                            <a href="#" class="question_content"><%= id+1 %>
                            </a>
                          </th>
                          <td class="user__lastname"><%= el.nom %></td>
                          <td class="user__firstname"><%= el.prenom %></td>
                          <td class="user__phone"><%= el.numero %></td>
                          <td class="user__email"><%= el.email %></td>
                          <td><a href="#"><%= el.role %></a></td>
                          <td>
                            <a href="#" class="status_btn"><%= el.statut %></a>
                          </td>
                          <td>
                            <div class="action_btns d-flex">
                              <a href="/edituser?user_id=<%=el._id%>" class="action_btn mr_10">
                                <i class="far fa-edit"></i>
                              </a>
                              <a href="#" class="action_btn" onclick='buttonClick("<%=el.nom%> <%=el.prenom%>","<%=el._id%>")' data-toggle="modal" data-userId="<%=el._id%>" data-username="<%=el.nom%> <%=el.prenom%>" data-target="#delete_user_modal">
                                <i class="fas fa-trash"></i>
                              </a>
                            </div>
                          </td>
                          <%})%>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer part -->
    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer_iner text-center">
              <p>
                2023 © E-MAQUIS - Designed by
                <a href="#"> <i class="ti-gun"></i> </a><a href="#"> HNM</a> - <a href="/faq">FAQ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="menu-overlay"></div>

  
  <div id="back-top" style="display: none">
    <a title="Go to Top" href="#">
      <i class="ti-angle-up"></i>
    </a>
  </div>

  <!-- MODAL -->

  <div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="delete_user_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Suppression d'un employé
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Voulez vous supprimer l'employé "<strong id="user_delete_name"></strong>"
        </div>
        <form method="post">
          <input type="hidden" id="user_delete_id" name="userId" />
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">
              Non
            </button>
            <button type="submit" class="btn btn-danger">Oui</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include('partial/script.ejs') %>
  
  <script>
    const btns = $('.action_btn');

    const buttonClick = (name, id) => {

      let user_name = '';
      let user_id = '';
      if (name !== 'string' && typeof id !== 'string') {
        user_name = $(this).attr('data-username');
        user_id = $(this).attr('data-userId');
      } else {
        user_name = name;
        user_id = id;
      }

      if (!user_name || !user_id) return;

      $('#user_delete_name').text(user_name);
      $('#user_delete_id').val(user_id);
    }

    btns.each((index, btn) => {
      $(btn).on('click', buttonClick);
    });
  </script>

   <!-- jQuery  -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/metismenu.min.js"></script>
   <script src="assets/js/waves.js"></script>
   <script src="assets/js/simplebar.min.js"></script>
 
   
 
   <!-- Morris Js-->
   <script src="../plugins/morris-js/morris.min.js"></script>
   <!-- Raphael Js-->
   <script src="../plugins/raphael/raphael.min.js"></script>
 
   <!-- Morris Custom Js-->
   <script src="assets/pages/dashboard-demo.js"></script>
 
   <!-- App js -->
   <script src="assets/js/theme.js"></script>
</body>

</html>
